
   body {
    background-image:url(/imagenes/6843266.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
   }
    
    .contactos {
        max-width: 980px;
        margin: 0 auto;
    }
    
    .imagencontactos {
        display: flex;
        width: 80%;
        max-width: 350px;
        margin: 10px auto; 
        padding: 5px;
        border-radius: 4%;
        box-shadow: 10px 5px 15px 8px black;

    }
    
    .portadaparrafo {
         color: black;
    }
    
    .listacontactos {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    
    .contactolista {
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0px 4px 10px 10px rgb(0, 0, 0);
        border-radius: 40px;
        padding: 0.5em 0.7em;
        margin: 10px;
    }

    listacontactos {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    
    @media (min-width:950px) {

        .imagencontactos {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: 5px;
            border-radius: 4%;
            box-shadow: 10px 5px 10px 5px black;
    
           
        }
        
    }