.productos {
    max-width: 980px;
    margin: 0 auto;
}


.productostitulo {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.productosdelista {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    border-radius: 40px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.listaproductos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (min-width:950px) {

    .productostitulo {
        font-size: 50px;
    
    }
    
    .productosdelista {
        font-size: 30px;
        font-weight: 500;
        box-shadow: 0 4px 10px rgb(0, 0, 0);
        border-radius: 40px;
        padding: 0.5em 0.7em;
        margin: 20px;
    }
    
    .listaproductos {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }

}